.container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    overflow: scroll;
}

div {
    width: 100%;
    flex-wrap:wrap;
    justify-content: center;
    height: 380px;
}

text{
    padding-left: 10px;
    font-size:18px;
    line-height: 18px;
    width: 100%;
    height: 20px;
    text-decoration:underline;
}

canvas {
    border: 1px solid black;
    height: 320px;
    width: 320px;
}

.buttons {
    position: absolute;
    top: -160px;
}